.button 

	width: $ancho_btn_grande
	height: 70px
	margin: 0 auto
	background-color: $button_color
	box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.8)
	margin-top: 6px
	margin-bottom: 4px
	padding-top: 24px
	border-radius: 4px 
	display: block
	text-decoration: none
	font-size: $texto_boton_grande
	font-weight: $font_medium
	font-family: $font-family
	text-align: center

	color: $font-color_2

	&:active 

		background-color: $on_color
		transition: $transition_slow 
		transform: scale(.98)

a:active

	color: $font-color
	text-shadow: 0.2px 0.8px 1px rgba(0, 0, 0, 0.8)

.rpicon-more:active

	color: $font-color
	text-shadow: 0.2px 0.8px 1px rgba(0, 0, 0, 0.8)

//botón volver del head
.back-button 
	
	display: inline-block
	bottom: -20px
	left: 20px
	position: relative
	width: 25px
	height: 25px
	z-index: 99


.container_button
	
	height: 60px

.button_two 

	background-color: $button_color
	padding: 14px 17px 14px 17px
	border-radius: 4px 
	display: inline-block
	position: relative
	float: right
	margin-top: 17px
	margin-right: 7px
	bottom: 10px
	z-index: 99
	font-size: 15px
	font-family: $font-family
	font-weight: $font_bold
	text-align: center
	text-decoration: none
	color: $font-color_2

	&:active 

		background-color: $on_color
		transition: $transition_slow 
		transform: scale(.98)

.button_two_event

	background-color: $button_color
	padding: 14px 17px 14px 17px
	border-radius: 4px 
	display: inline-block
	position: relative
	float: right
	margin-top: 17px
	margin-right: 7px
	bottom: 10px
	z-index: 99
	font-size: 15px
	font-family: $font-family
	font-weight: $font_bold
	text-align: center
	text-decoration: none
	color: $font-color_2

	&:active 

		background-color: $on_color
		transition: $transition_slow 
		transform: scale(.98)

.button_two_map

	padding: 14px 17px 14px 17px
	background-color: $button_color
	border-radius: 4px 
	display: inline-block
	position: relative
	float: right
	top: 20px
	margin-top: -3px
	margin-right: 7px
	margin-bottom: -42px
	z-index: 99
	font-size: 14px
	font-family: $font-family
	font-weight: $font_bold
	text-align: center
	text-decoration: none
	color: $font-color_2

	&:active 

		background-color: $on_color
		transition: $transition_slow 
		transform: scale(.98)


.button_small_two

	width: 40px
	height: 25px
	background: $small_button
	border-radius: 4px
	float: right
	display: inline-block
	margin: 12px
	margin-right: 11px

	&:active 

		background-color: $on_color
		transition: $transition_slow 
		transform: scale(.98)


#button_small_two
		
	display: inline-block
	float: right


.button_more
	
	width: 200px
	margin: 0 auto
	height: 30px

	a 

		font-size: 11px
		font-family: $font-family
		text-align: center
		text-decoration: none
		color: $font-color_2


#text_button

	display: inline-block
	position: relative


@mixin center 

	margin-left: auto
	margin-right: auto

@mixin right
	
	margin-right: 0
	left: 295px


//toggle_button del formulario

//botón grande izquierda

.toggle_button_big

	display: none

	//prendido

	+ label

		display: block
		width: 280px
		height: 50px
		border-radius: 4px
		background: $off_color_2

		@include center
		margin-bottom: 25px
		

		&:before
		
			display: block
			content: ""
			width: 130px	
			height: 50px
			border-radius: 4px
			background: $off_color
			position: relative
			transition: $transition
			left: 0


	&:checked

		//apagado

		+ label
			
			background: $on_color

			&:before

				left: 150px

//botón grande derecha

.toggle_button_big

	display: none

	//prendido

	+ label

		display: block
		width: 280px
		height: 50px
		border-radius: 4px
		background: $on_color_2
		@include center
		margin-bottom: 25px
		

		&:before
		
			display: block
			content: "b"
			width: 130px	
			height: 50px
			border-radius: 4px
			background: $on_color
			position: relative
			transition: $transition
			left: 150px 
	
	font-size: 25px

	&:checked

		//apagado

		+ label
			
			background: $off_color_2

			&:before

				background: $off_color
				left: 0
				content: "c" 

//botón pequeño

.toggle_button_small

	display: none

	//apagado

	+ label

		display: block
		width: 55px
		height: 21px
		border-radius: 4px
		background: $off_color_2
		@include right
		margin-top: 25px
		margin-left: 277px



		&:before
		
			display: block
			content: "c"
			width: 30px	
			height: 21px
			border-radius: 3px
			background: $off_color
			position: relative
			transition: $transition
			left: 25px

	//apagado

	&:checked

		+ label
			
			background: $on_color_2

			&:before
				background: $on_color
				left: 0
				content: "b"

.toggle_box
	
	display: block
	width: 347px
	padding-bottom: 20px

	.texto-toggle


		font-size: $texto_contenido
		font-family: $font-family
		position: relative 
		padding-left: 0px
		margin-left: 0px
		color: $font-color
		right: 243px
		bottom: 38px

.texto-checkbox

	font-size: $texto_contenido
	font-family: $font-family
	position: relative 
	padding-left: 0px
	margin-left: 0px
	color: $font-color
	right: 285px
	bottom: 35px
	

		

	//Checkbox pequeño

.checkbox_button_small

	display: none

	//prendido

	+ label

		display: inline-block
		position: relative
		width: 28px
		height: 21px
		border-radius: 4px
		background: $off_color
		left: 10px
		top: 20px
		margin-right: 0px
		margin-left: 300px



		&:before
		
			display: inline-block
			content: ""

	//apagado

	&:checked

		+ label
			
			background: $on_color
			transition: $transition

			&:before

				left: 0
				content: "b"





	

