//contenedor reportes

#reports_list


	padding-left: 5px

.user_avatar

	width: 50px
	height: 50px
	border-radius: 50%
	background: #5b5b5b
	position: relative
	z-index: 99
	float: left

.username
	
	#name

		font-size: $subtitulo_modulo
		font-family: $font-family
		font-weight: normal
		letter-spacing: 0.2px
		margin-right: 10px
		padding-bottom: 0
		padding-left: 10px
		text-align: left
		display: inline-block
		color: $font-color

.comment_date
	
	font-size: 10px
	display: inline-block
	font-weight: 300
	float: right
	margin-right: 10px	
	margin-top: 12px
	color: $font-color

.comment_box

	width: 275px
	margin-right: 10px
	border: 1px solid
	border-radius: 4px
	position: relative
	float: right

.comment_content

	padding-left: 10px
	padding-top: 10px
	padding-bottom: 10px
	padding-right: 10px



.container_report
	
	padding-top: 10px
	
	li 

		margin-bottom: 15px
		display: block
		position: relative
		color: $font-color

	li:after

		content: ""
		display: block
		clear: both
		height: 0
		width: 0
		color: $font-color
