// datos de evento

.container_event

	padding: 17px 0px 0px 0px

.container_event_main

	padding: 25px 0px 0px 0px


.number_box_red

	width: 90px
	height: 90px
	margin: 0 20px 20px 20px
	display: inline-block
	border-radius: 50%
	border: 6px solid #f71138

.number_box_orange

	width: 90px
	height: 90px
	margin: 0 20px 20px 20px
	display: inline-block
	border-radius: 50%
	border: 6px solid #ea711f

.number_box_green

	width: 90px
	height: 90px
	margin: 0 20px 20px 20px
	display: inline-block
	border-radius: 50%
	border: 6px solid #099c38

#numero

	font-size: 24px
	font-family: $font-family
	font-weight: $font_light
	text-align: center
	color: white

.celda

	width: 30px
	padding: 0

.table

	width: 214px
	position: relative
	float: right


.table_text

	font-size: $texto_contenido
	font-family: $font-family
	font-weight: normal
	letter-spacing: 0.2px
	text-align: left
	margin: 3px
	margin-left: 0
	margin-right: 0
	padding-left: 10px
	padding-right: 0
	color: $font-color

.container

	.event_h2

		font-size: $subtitulo_modulo
		font-family: $font-family
		font-weight: $font_light
		text-align: left
		margin-left: 26px
		margin-right: 23px
		margin-top: 0px
		letter-spacing: 0.2px
		padding-bottom: 5px
		color: $font-color
		border-bottom: 1px solid

	.event_table

		width: 214px
		display:inline-block
		position: relative
		padding-left: 22px
		margin-bottom: 10px