// datos de evento

.number_box

	width: 90px
	height: 90px
	margin: 0 20px 20px 20px
	display: inline-block
	border-radius: 50%
	border: 6px solid #f71138


#numero

	font-size: 24px
	text-align: center
	color: white

.celda

	width: 30px
	padding: 0

.table

	width: 214px
	position: relative
	float: right


.table_text

	font-size: $texto_contenido
	font-family: $font-family
	font-weight: normal
	letter-spacing: 0.2px
	text-align: left
	margin: 3px
	margin-left: 0
	margin-right: 0
	padding-left: 10px
	padding-right: 0
	color: $font-color