//encabezado de pantalla
.header2

	width: $ancho_pantalla
	height: 70px
	margin: 0 auto
	display: block
	background-color: $header_color
	position: fixed
	overflow: hidden
	top: 0
	z-index: 99
	box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.8)

.header

	width: $ancho_pantalla
	height: 70px
	margin: 0 auto
	display: block
	background-color: $header_color

	.title_header

		display: block
		position: relative
		margin: -20px 0px 0px 0px

		h1

			margin: 0 auto
			text-align: center
			font-size: $title_header
			font-family: $font-family
			font-weight: $font_normal
			padding: 10px 20px 10px 20px
			position: relative
			color: $font-color_2

	h1

		margin: 0 auto
		text-align: center
		font-size: $title_header
		font-family: $font-family
		font-weight: normal
		padding: 7px 15px 10px 15px !important
		position: relative
		color: $font-color_2

	a
		
		text-decoration: none

	.logo

		img
			display: inline-block
			position: relative
			width: 65%
			margin: 7px 55px 7px 70px



.message-button

	float: right
	display: inline-block
	margin: -51px 20px 0px 0px



