//encabezado de pantalla

.header

	width: $ancho_pantalla
	height: 60px
	margin: 0 auto
	display: block
	background-color: $background_color

	.title_header

		display: inline-block
		position: relative
		margin-left: 65px

		h1

			margin: 0 auto
			text-align: center
			font-size: $titulo_header
			font-family: $fuente_regular
			font-weight: normal
			padding: 15px 15px 10px 15px
			position: relative
			color: $font-color

	h1

		margin: 0 auto
		text-align: center
		font-size: $titulo_header
		font-family: $fuente_regular
		font-weight: normal
		padding: 15px 15px 10px 15px
		position: relative
		color: $font-color

	a
		
		text-decoration: none
	

	