//iconos toggle button

[class^="rpicon-"]:before, [class*=" rpicon-"]:before

	position: relative
	color: $font-color
	font-size: 25px

[class^="rpicon-toggle"]:before, [class*=" rpicon-toggle"]:before

	position: relative
	color: $font-color
	font-size: 25px
	line-height: 1.6 !important
	text-align: center

[class^="rpicon-toggle-small"]:before, [class*=" rpicon-toggle-small"]:before

	position: relative
	color: $font-color
	font-size: 10px
	line-height: 1.5 !important
	text-align: center

[class^="rpicon-more"]:before, [class*=" rpicon-more"]:before

	position: relative
	color: $off_color
	font-size: 10px
	line-height: 1.5 !important

//ajuste de posición ícono "more" 
.rpicon-more
	
	margin: -1px
	text-align: center


[class^="rpicon-edit"]:before, [class*=" rpicon-edit"]:before

	position: relative
	color: $off_color
	font-size: 15px
	line-height: 1.5 !important
	text-align: center
	text-decoration: none

//ajuste de posición ícono "more" 
.rpicon-edit
	
	margin: 2px
	text-align: center


