//iconos toggle button
[class^="rpicon-"]:before, [class*=" rpicon-"]:before

	position: relative
	color: $font-color
	font-size: 25px

[class^="rpicon-back"]:before, [class*=" rpicon-back"]:before

	position: relative
	color: $background_color
	font-size: 21px
	line-height: 1.2 !important

[class^="rpicon-home"]:before, [class*=" rpicon-home"]:before

	position: relative
	color: $font-color
	font-size: 55px
	line-height: 1.2 !important

//ajuste icono home
.home-icon-container

	display: block
	text-align: center

//ajuste de icono toggle_button grande

[class^="rpicon-toggle"]:before, [class*=" rpicon-toggle"]:before

	position: relative
	color: $font-color
	font-size: 25px
	line-height: 2.1 !important
	text-align: center

//ajuste de icono toggle_button pequeño

[class^="rpicon-toggle-small"]:before, [class*=" rpicon-toggle-small"]:before

	position: relative
	color: $font-color
	font-size: 11px
	text-align: center
	line-height: 2.6 !important

[class^="rpicon-toggle-small-inverse"]:before, [class*=" rpicon-toggle-small-inverse"]:before

	color: $font-color
	font-size: 12px
	line-height: 1.4 !important
	text-align: center
	padding-left: 9px
	top: 3px

//ajuste de posición ícono "more" 
.rpicon-toggle-small-inverse
	
	width: 10px

[class^="rpicon-more"]:before, [class*=" rpicon-more"]:before

	position: relative
	color: $background_color
	font-size: 14px
	bottom: 1px
	line-height: 2.3 !important

//ajuste de posición ícono "more" 
.rpicon-more
	
	margin: 1px
	text-align: center

[class^="rpicon-edit"]:before, [class*=" rpicon-edit"]:before
	position: relative
	color: $background_color
	font-size: 17px
	line-height: 1.7 !important
	text-align: center
	text-decoration: none

	&:active

		color: $font-color


//ajuste de posición ícono "edit" 
.rpicon-edit
	
	margin: 7px
	text-align: center
	text-decoration: none


//ajustes de ícono "search"

.rpicon-search
	
	margin-top: 20px
	margin-left: 311px
	position: absolute
	text-decoration: none
	z-index: 99

[class^="rpicon-search"]:before, [class*=" rpicon-search"]:before

	font-size: 22px

//íconos avatar de usuario (grande)

//ajustes de ícono "user-good"

.rpicon-user-good
	
	margin-top: 14px
	margin-left: 9px
	position: absolute
	text-decoration: none
	z-index: 99
	

[class^="rpicon-user-good"]:before, [class*=" rpicon-user-good"]:before

	font-size: 75px
	color: $blue_color

//ajustes de ícono "user-bad"

.rpicon-user-bad
	
	margin-top: 14px
	margin-left: 9px
	position: absolute
	text-decoration: none
	z-index: 99

[class^="rpicon-user-bad"]:before, [class*=" rpicon-user-bad"]:before

	font-size: 75px
	color: $red_color

//íconos avatar de usuario (chico)

//ajustes de ícono "user-good-small"

.rpicon-user-good-small
	
	margin-top: 13px
	margin-left: 7px
	position: absolute
	text-decoration: none
	z-index: 99

[class^="rpicon-user-good-small"]:before, [class*=" rpicon-user-good-small"]:before

	font-size: 45px

//ajustes de ícono "user-bad-small"

.rpicon-user-bad-small
	
	margin-top: 13px
	margin-left: 7px
	position: absolute
	text-decoration: none
	z-index: 99

[class^="rpicon-user-bad-small"]:before, [class*=" rpicon-user-bad-small"]:before

	font-size: 45px

//iconos de indicadores

.rpicon-uv
	
	margin-top: 15px
	margin-left: 20px
	position: relative
	z-index: 99

[class^="rpicon-uv"]:before, [class*=" rpicon-uv"]:before

	position: relative
	color: $font-color
	font-size: 50px

.rpicon-humidity
	
	margin-top: 15px
	margin-left: 20px
	position: relative
	z-index: 99

[class^="rpicon-humidity"]:before, [class*=" rpicon-humidity"]:before

	position: relative
	color: $font-color
	font-size: 50px

.rpicon-temperature
	
	margin-top: 15px
	margin-left: 20px
	position: relative
	z-index: 99

[class^="rpicon-temperature"]:before, [class*=" rpicon-temperature"]:before

	position: relative
	color: $font-color
	font-size: 50px

//iconos de evento y efectos

.rpicon-tsunami
	
	margin-top: 3px
	margin-left: 1px
	position: relative
	z-index: 99

[class^="rpicon-tsunami"]:before, [class*=" rpicon-tsunami"]:before

	position: relative
	color: $font-color
	font-size: 46px


.rpicon-rupture-home
	
	margin-top: 3px
	margin-left: 2px
	position: relative
	z-index: 99

[class^="rpicon-rupture-home"]:before, [class*=" rpicon-rupture-home"]:before

	position: relative
	color: $font-color
	font-size: 40px

//iconos de estado de usuario

.rpicon-chronic-patient
	
	margin-top: 5px
	margin-left: 3px
	position: absolute
	text-decoration: none
	z-index: 99

[class^="rpicon-chronic-patient"]:before, [class*=" rpicon-chronic-patient"]:before

	font-size: 34px
	color: $font_color

.rpicon-trapped
	
	margin-top: 4px
	margin-left: 2px
	position: absolute
	text-decoration: none
	z-index: 99

[class^="rpicon-trapped"]:before, [class*=" rpicon-chronic-patient"]:before

	font-size: 34px
	color: $font_color

.rpicon-injured
	
	margin-top: 4px
	margin-left: 3px
	position: absolute
	text-decoration: none
	z-index: 99

[class^="rpicon-injured"]:before, [class*=" rpicon-injured"]:before

	font-size: 34px
	color: $font_color


.rpicon-message
	
	margin-top: 10px
	margin-left: 6px
	position: relative
	text-decoration: none
	z-index: 99


[class^="rpicon-message"]:before, [class*=" rpicon-message"]:before

	color: $background_color
	font-size: 30px
	line-height: 1.2 !important

.rpicon-message-inv
	
	margin-top: 10px
	margin-left: 6px
	text-decoration: none !important
	position: relative
	z-index: 99


[class^="rpicon-message-inv"]:before, [class*=" rpicon-message-inv"]:before

	color: $font_color
	font-size: 30px
	line-height: 1.2 !important



