//iconos toggle button

[class^="rpicon-"]:before, [class*=" rpicon-"]:before

	position: relative
	color: $font-color
	font-size: 25px

[class^="rpicon-back"]:before, [class*=" rpicon-back"]:before

	position: relative
	color: $background_color
	font-size: 20px
	line-height: 1.2 !important

[class^="rpicon-home"]:before, [class*=" rpicon-home"]:before

	position: relative
	color: $font-color
	font-size: 50px
	line-height: 1.2 !important

//ajuste icono home
.home-icon-container

	display: block
	text-align: center

//ajuste de icono toggle_button grande

[class^="rpicon-toggle"]:before, [class*=" rpicon-toggle"]:before

	position: relative
	color: $font-color
	font-size: 25px
	line-height: 2.1 !important
	text-align: center

//ajuste de icono toggle_button pequeño

[class^="rpicon-toggle-small"]:before, [class*=" rpicon-toggle-small"]:before

	position: relative
	color: $font-color
	font-size: 10px
	text-align: center

[class^="rpicon-toggle-small-inverse"]:before, [class*=" rpicon-toggle-small-inverse"]:before

	color: $background_color
	font-size: 10px
	line-height: 1.5 !important
	text-align: center

//ajuste de posición ícono "more" 
.rpicon-toggle-small-inverse
	
	width: 10px

[class^="rpicon-more"]:before, [class*=" rpicon-more"]:before

	position: relative
	color: $background_color
	font-size: 10px
	line-height: 2.3 !important

//ajuste de posición ícono "more" 
.rpicon-more
	
	margin: -1px
	text-align: center


[class^="rpicon-edit"]:before, [class*=" rpicon-edit"]:before

	position: relative
	color: $background_color
	font-size: 15px
	line-height: 1.7 !important
	text-align: center
	text-decoration: none

//ajuste de posición ícono "more" 
.rpicon-edit
	
	margin: 2px
	text-align: center


