//input del rut

.input_rut
	
	text-align: center

.label_rut

	font-size: $titulo_modulo_2
	font-family: $font-family
	font-weight: normal
	text-align: center
	letter-spacing: 0.2px
	padding-bottom: 15px
	color: $font-color

.login-rut
	
	width: 330px
	margin: 0 auto
	padding: 20px 0 10px 0

.login-rut__box
	
	display: block
	width: 100%
	height: 50px
	border-radius: 4px
	border: 1px solid $border_button_color
	line-height: 3
	padding-left: 20px
	color: #fcc92f
	background-color: $input_color
	font-size: 14px


//input de la barra de búsqueda

.input_search
	
	display: block
	position: relative
	width: 100%
	height: 50px
	border-radius: 4px
	border: 1px solid $border_button_color
	line-height: 3
	padding-left: 20px
	color: #fcc92f
	background-color: $input_color
	font-size: 14px


