//encabezado ficha personal

.usuario_personal

	width: 70px
	height: 70px
	border-radius: 50%
	background: $dark_purple  
	margin: 0 auto
	margin-bottom: 15px
	
#nombre_personal
	
	font-size: $texto_contenido
	font-family: $font-family
	font-weight: normal
	letter-spacing: 0.3px
	text-align: center
	margin-top: 4px
	margin-bottom: 4px
	color: $font-color

//listado de personas

#user_list


	margin-top: 0px
	margin-right: 0.4px
	margin-bottom: -20px

.user_box

	width: 346px
	height: 100%
	background-color: $background_color_3
	position: relative
	float: right
	margin-bottom: 5px

.user_avatar_2

	width: 46px
	height: 46px
	border-radius: 50%
	background: $dark_purple
	position: relative
	margin-top: 6px
	margin-bottom: 6px
	margin-left: 10px
	z-index: 99
	float: left

.username
	
	#user_name

		font-size: $texto_contenido
		font-family: $font-family
		font-weight: normal
		letter-spacing: 0.2px
		margin: 10px 0px 5px 0px
		padding-bottom: 0
		padding-left: 20px
		padding-right: 90px
		text-align: left
		display: inline-block
		color: $font-color

	#distance

		font-size: $texto_contenido_2
		font-family: $font-family
		font-weight: $font_normal
		letter-spacing: 0.2px
		margin: 5px 0px 5px 0px
		padding-bottom: 0
		text-align: left
		display: inline-block
		color: $font-color

.container_list
	
	padding-top: 5px
	
	li 

		margin-bottom: 15px
		display: block
		position: relative
		color: $font-color

	li:after

		content: ""
		display: block
		clear: both
		height: 0
		width: 0
		color: $font-color

.state_user_box

	width: 43px
	height: 43px
	border-radius: 4px
	background: $dark_purple
	position: relative
	margin-top: 30px
	margin-right: 7px
	margin-bottom: 10px
	z-index: 99
	float: right