//variables//

//tipografía

$font-family: 'Roboto', sans-serif
$fuente_thin: 100
$font_light: 300
$font_normal: 400
$font_medium: 500
$font_bold: 700


//jerarquías de textos

$title_header: 26px
$titulo_modulo: 23px
$titulo_modulo_2: 22px
$subtitulo_modulo: 20px
$texto_contenido: 17px
$texto_contenido_2: 15px
$table_text: 14px
$texto_boton_grande: 20px
$texto_boton_chico: 16px

$ancho_pantalla: 22.5em//360px
$ancho_contenedor: 21.6875em //347px
$ancho_btn_grande: 17.3em

//variable de transición 

$transition: all .3s ease
$transition_fast: all 0.1s cubic-bezier(0.22, 0.82, 1, 1)

//colores toggle buttons

$off_color: #f71138 
$off_color_2: #a00f27 //fondo botón apagado
$on_color: #7a58dc //botón encendido
$on_color_2: #4b3884 //fondo botón encendido

//colores

$header_color: #fcc92f // color del header
$background_color: #190d11 // color de contenedor
$background_color_3: #1c1216// color de fondo secundario
$body_background_color:#b5b5b5 //color del fondo de la pantalla (no plataforma)
$background_color_2: #735968 // color fondo de plataforma
$font-color: #fcc92f // color de la fuente (amarillo)
$font-color_2: #1c1216// color secundario de la fuente (morado oscuro)
$border_button_color: #fcc92f // color de borde de botón
$small_button: #fcc92f // color de botones pequeños
$button_color: #fcc92f// color de fondo para botón grande
$input_color: #1c1216 // color de fondo del input
$orange_color: #f17928 // color anaranjado estado
$red_color: #f71138//color rojo estado
$blue_color: #7a58dc  // color azul estadp
$dark_yellow: #6d5815 // amarillo oscuro para fondos
$dark_purple: #4a3a42 // fondo usuarios
