//variables//


$fuente_regular:'roboto'
$fuente_light:'roboto light'
$fuente_medium: 'roboto medium'


//jerarquía textos

$titulo_header: 20px
$titulo_modulo: 15px
$titulo_modulo_2: 14px
$subtitulo_modulo: 13px
$texto_contenido: 12px
$texto_boton_grande: 14px
$texto_boton_chico: 12px

$ancho_pantalla: 370px
$ancho_contenedor: 355px

//variable de transicíón toggle_button

$transition: all .3s
$toggle_color: #7a5d6e
$off_color: #1c1216
$on_color: #fdca2e

//colores

$background_color: #37262e
$font-color: #fcc92f
$border_button_color: #fcc92f
$small_button: #fcc92f
$button_color: #1c1216
$input_color: #1c1216
