@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700';
* {
  box-sizing: border-box; }

.pagina {
  width: 22.5em;
  margin: 0 auto;
  background-color: #735968;
  display: block;
  padding-bottom: 5px;
  padding-top: 119px; }

.pagina_esp {
  width: 22.5em;
  margin: 0 auto;
  background-color: #735968;
  display: block;
  padding-bottom: 5px; }

body {
  margin: 0 auto;
  background-color: #b5b5b5; }

.header2 {
  width: 22.5em;
  height: 70px;
  margin: 0 auto;
  display: block;
  background-color: #fcc92f; }
  .header2 .title_header {
    display: block;
    position: relative;
    margin: -20px 0px 0px 0px; }
    .header2 .title_header h1 {
      margin: 0 auto;
      text-align: center;
      font-size: 26px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      padding: 10px 20px 10px 20px;
      position: relative;
      color: #1c1216; }
  .header2 h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    padding: 7px 15px 10px 15px !important;
    position: relative;
    color: #1c1216; }
  .header2 a {
    text-decoration: none; }
  .header2 .logo img {
    display: inline-block;
    position: relative;
    width: 65%;
    margin: 7px 55px 7px 70px; }

.header {
  width: 22.5em;
  margin: 0 auto;
  display: block;
  background-color: #fcc92f;
  position: fixed;
  overflow: hidden;
  top: 0;
  z-index: 100;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.8); }
  .header .title_header {
    display: block;
    position: relative;
    margin: -20px 0px 0px 0px; }
    .header .title_header h1 {
      margin: 0 auto;
      text-align: center;
      font-size: 26px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      padding: 10px 20px 10px 20px;
      position: relative;
      color: #1c1216; }
  .header h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    padding: 7px 15px 10px 15px !important;
    position: relative;
    color: #1c1216; }
  .header a {
    text-decoration: none; }
  .header .logo img {
    display: inline-block;
    position: relative;
    width: 65%;
    margin: 7px 55px 7px 70px; }
  .header .navbar {
    width: 22.5em;
    display: block; }

.message-button {
  float: right;
  display: inline-block;
  margin: -51px 20px 0px 0px; }

.navbar_content {
  margin-left: 0;
  padding-left: 0;
  padding: 0px 0px 2px 0px;
  margin-top: 5px;
  margin-bottom: 0px;
  border-top: 1px solid #190d11; }
  .navbar_content .navbar-button:focus {
    padding-bottom: 16px;
    border-bottom: 5px solid #7a58dc; }
  .navbar_content li {
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    position: relative;
    display: inline-block;
    list-style-type: none;
    padding: 16px 20px 18px 20px;
    margin-left: 11px;
    margin-right: 10px;
    color: #190d11; }

.input_rut {
  text-align: left; }

.label_rut {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.2px;
  position: relative;
  left: 25px;
  color: #fcc92f; }

.label_rut_2 {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.2px;
  position: relative;
  top: 19px;
  left: 25px;
  color: #fcc92f; }

.login-rut {
  width: 330px;
  margin: 0 auto;
  padding: 10px 0 5px 0; }

.login-rut_2 {
  width: 330px;
  margin: 0 auto;
  padding: 30px 0 20px 0; }

.login-rut__box {
  display: block;
  width: 95%;
  height: 55px;
  border-radius: 4px;
  border: 1px solid #fcc92f;
  line-height: 3;
  padding-left: 19px;
  color: #fcc92f;
  background-color: #1c1216;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-left: 9px; }

.input_search {
  display: block;
  position: relative;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #fcc92f;
  line-height: 3;
  padding-left: 20px;
  color: #fcc92f;
  background-color: #1c1216;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px; }

input:focus {
  background-color: #4b3884; }

.form-report {
  width: 330px;
  margin: 0 auto;
  padding: 23px 0 0px 0;
  margin-bottom: -40px; }

.title__box {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #fcc92f;
  line-height: 3;
  padding-left: 20px;
  color: #fcc92f;
  background-color: #1c1216;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px; }

.description__box {
  display: block;
  width: 100%;
  height: 100px;
  border-radius: 4px;
  border: 1px solid #fcc92f;
  line-height: 1;
  position: relative;
  padding-top: 15px;
  padding-right: 23px;
  padding-left: 20px;
  color: #fcc92f;
  background-color: #1c1216;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px; }

.title_form_input {
  display: inline-block;
  position: relative;
  bottom: 100px;
  margin-left: 14px; }

.description_form_input {
  display: inline-block;
  position: relative;
  bottom: 150px;
  margin-left: 14px; }

.button {
  width: 17.3em;
  height: 70px;
  margin: 0 auto;
  background-color: #fcc92f;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.8);
  margin-top: 6px;
  margin-bottom: 4px;
  padding-top: 24px;
  border-radius: 4px;
  display: block;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #1c1216;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0 0 #7a58dc inset; }
  .button:active {
    transition: all 0.1s cubic-bezier(0.22, 0.82, 1, 1);
    transform: scale(0.98);
    background-color: #7a58dc;
    box-shadow: 0 5px #4b3884; }

a:active {
  color: #fcc92f !important;
  text-shadow: 0.2px 0.8px 1px rgba(0, 0, 0, 0.8); }

.rpicon-more:active {
  color: #fcc92f;
  text-shadow: 0.2px 0.8px 1px rgba(0, 0, 0, 0.8); }

.back-button {
  display: inline-block;
  bottom: -20px;
  left: 20px;
  position: relative;
  width: 25px;
  height: 25px;
  z-index: 99;
  cursor: pointer; }

.container_button {
  height: 60px; }

.button_rut {
  width: 95%;
  height: 60px;
  margin: 0 auto;
  background-color: #fcc92f;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.8);
  margin-top: 6px;
  margin-bottom: 4px;
  padding-top: 20px;
  border-radius: 4px;
  display: block;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #1c1216;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0 0 #7a58dc inset; }
  .button_rut:active {
    transition: all 0.1s cubic-bezier(0.22, 0.82, 1, 1);
    transform: scale(0.98);
    background-color: #7a58dc;
    box-shadow: 0 5px #4b3884; }

.button_two {
  background-color: #fcc92f;
  padding: 14px 17px 14px 17px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  float: right;
  margin-top: 17px;
  margin-right: 7px;
  bottom: 10px;
  z-index: 99;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #1c1216; }
  .button_two:active {
    background-color: #7a58dc;
    transition: all 0.1s cubic-bezier(0.22, 0.82, 1, 1);
    transform: scale(0.98); }

.button_two_event {
  background-color: #fcc92f;
  padding: 14px 17px 14px 17px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  float: right;
  margin-top: 17px;
  margin-right: 7px;
  bottom: 10px;
  z-index: 99;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #1c1216; }
  .button_two_event:active {
    background-color: #7a58dc;
    transition: all 0.1s cubic-bezier(0.22, 0.82, 1, 1);
    transform: scale(0.98); }

.button_two_map {
  padding: 14px 17px 14px 17px;
  background-color: #fcc92f;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  float: right;
  top: 245px;
  right: 7px;
  margin-top: -4px;
  margin-bottom: -42px;
  z-index: 99;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #1c1216;
  box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.8); }
  .button_two_map:active {
    background-color: #7a58dc;
    transition: all 0.1s cubic-bezier(0.22, 0.82, 1, 1);
    transform: scale(0.98); }

.button_small_two {
  width: 47px;
  height: 32px;
  background: #fcc92f;
  border-radius: 4px;
  float: right;
  display: inline-block;
  margin: 16px;
  margin-right: 11px; }
  .button_small_two:active {
    background-color: #7a58dc;
    transition: all 0.1s cubic-bezier(0.22, 0.82, 1, 1);
    transform: scale(0.98); }

#button_small_two {
  display: inline-block;
  float: right; }

.button_more {
  width: 300px;
  margin: 0 auto;
  height: 60px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding-top: 8px;
  margin-bottom: 5px; }
  .button_more .text_button_more {
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    color: #1c1216;
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    color: #fcc92f;
    padding-bottom: 3px;
    border-bottom: 1px solid #fcc92f; }

#text_button {
  display: inline-block;
  position: relative;
  top: 5px; }

.toggle_button_big {
  display: none; }
  .toggle_button_big + label {
    display: block;
    width: 280px;
    height: 50px;
    border-radius: 4px;
    background: #a00f27;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px; }
    .toggle_button_big + label:before {
      display: block;
      content: "";
      width: 130px;
      height: 50px;
      border-radius: 4px;
      background: #f71138;
      position: relative;
      transition: all 0.3s cubic-bezier(0.25, 0.1, 0.54, 0.59);
      left: 0; }
  .toggle_button_big:checked + label {
    background: #41ab4b; }
    .toggle_button_big:checked + label:before {
      left: 150px; }

.toggle_button_big {
  display: none;
  font-size: 25px; }
  .toggle_button_big + label {
    display: block;
    width: 280px;
    height: 50px;
    border-radius: 4px;
    background: #2c7333;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px; }
    .toggle_button_big + label:before {
      display: block;
      content: "b";
      width: 130px;
      height: 50px;
      border-radius: 4px;
      background: #41ab4b;
      position: relative;
      transition: all 0.3s cubic-bezier(0.25, 0.1, 0.54, 0.59);
      left: 150px; }
  .toggle_button_big:checked + label {
    background: #a00f27; }
    .toggle_button_big:checked + label:before {
      background: #f71138;
      left: 0;
      content: "c"; }

.toggle_button_small {
  display: none; }
  .toggle_button_small + label {
    display: inline-block;
    width: 60px;
    height: 25px;
    border-radius: 4px;
    background: #a00f27;
    margin-right: 0;
    left: 295px;
    margin-top: 18px;
    margin-left: 277px; }
    .toggle_button_small + label:before {
      display: inline-block;
      content: "c";
      width: 32px;
      height: 25px;
      border-radius: 3px;
      background: #f71138;
      position: relative;
      transition: all 0.3s cubic-bezier(0.25, 0.1, 0.54, 0.59);
      left: 27px; }
  .toggle_button_small:checked + label {
    background: #2c7333; }
    .toggle_button_small:checked + label:before {
      background: #41ab4b;
      left: 0;
      content: "b"; }

.toggle_button_small_2 {
  display: none; }
  .toggle_button_small_2 + label {
    display: inline-block;
    width: 60px;
    height: 25px;
    border-radius: 4px;
    background: #2c7333;
    margin-right: 0;
    left: 295px;
    margin-top: 18px;
    margin-left: 277px; }
    .toggle_button_small_2 + label:before {
      display: inline-block;
      content: "c";
      width: 32px;
      height: 25px;
      border-radius: 3px;
      background: #41ab4b;
      position: relative;
      transition: all 0.3s cubic-bezier(0.25, 0.1, 0.54, 0.59);
      left: 27px; }
  .toggle_button_small_2:checked + label {
    background: #a00f27; }
    .toggle_button_small_2:checked + label:before {
      background: #f71138;
      left: 0;
      content: "b"; }

.texto-checkbox {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  position: relative;
  padding-left: 0px;
  margin-left: 0px;
  color: #fcc92f;
  right: 276px;
  bottom: 35px; }

.checkbox_button_small {
  display: none; }
  .checkbox_button_small + label {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 21px;
    border-radius: 4px;
    background: #f71138;
    left: 5px;
    top: 14px;
    margin-right: 0px;
    margin-left: 300px; }
    .checkbox_button_small + label:before {
      display: inline-block;
      content: ""; }
  .checkbox_button_small:checked + label {
    background: #41ab4b;
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.54, 0.59); }
    .checkbox_button_small:checked + label:before {
      left: 0;
      content: "b"; }

.button_edit {
  width: 40px;
  height: 40px;
  background: #fcc92f;
  border-radius: 50%;
  float: right;
  display: inline-block;
  margin: 12px;
  margin-right: 11px;
  position: relative;
  z-index: 99;
  text-decoration: none; }
  .button_edit:active {
    background-color: #7a58dc;
    transition: all 0.1s cubic-bezier(0.22, 0.82, 1, 1);
    transform: scale(0.98); }

#reports_list {
  margin-top: 0px;
  margin-bottom: -1px;
  padding-left: 5px;
  background-color: #2b1d25; }

.user_avatar {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background: #4a3a42;
  position: relative;
  margin-left: 5px;
  margin-top: 15px;
  z-index: 98;
  float: left; }

.username #name {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.2px;
  margin: 10px 0 5px 10px;
  text-align: left;
  display: inline-block;
  color: #fcc92f; }

.comment_date {
  font-size: 13px;
  display: inline-block;
  font-weight: 300;
  float: right;
  margin-right: 10px;
  margin-top: 17px;
  color: #fcc92f; }

.comment_box {
  width: 275px;
  margin-right: 10px;
  border-radius: 4px;
  position: relative;
  float: right; }

.comment_content {
  padding-left: 10px; }

.comment {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.8px;
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #fcc92f; }

.container_report li {
  margin-bottom: 15px;
  display: block;
  position: relative;
  color: #fcc92f;
  margin: 5px 0 5px 0 !important;
  padding: 15px 0 15px 0; }
.container_report li:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  width: 0;
  color: #fcc92f; }

.usuario_personal {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #4a3a42;
  margin: 0 auto;
  margin-bottom: 15px; }

#nombre_personal {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  letter-spacing: 0.3px;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
  color: #fcc92f; }

#user_list {
  margin-top: 0px;
  margin-right: 0.4px;
  margin-bottom: -20px; }

.user_box {
  width: 346px;
  height: 100%;
  background-color: #2b1d25;
  position: relative;
  float: right;
  margin-bottom: 4px; }

.user_avatar_2 {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #4a3a42;
  position: relative;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 10px;
  z-index: 99;
  float: left; }

.username #user_name {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  letter-spacing: 0.2px;
  margin: 10px 0px 5px 0px;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 90px;
  text-align: left;
  display: inline-block;
  color: #fcc92f; }
.username #distance {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.2px;
  margin: 5px 0px 5px 0px;
  padding-bottom: 0;
  text-align: left;
  display: inline-block;
  color: #fcc92f; }

.container_list {
  padding-top: 5px; }
  .container_list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
    color: #fcc92f; }
  .container_list li:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    width: 0;
    color: #fcc92f; }

.state_user_box {
  width: 43px;
  height: 43px;
  border-radius: 4px;
  border: 2px solid #fcc92f;
  background: #190d11;
  position: relative;
  margin-top: 30px;
  margin-right: 7px;
  margin-bottom: 10px;
  z-index: 99;
  float: right; }

.perfil_persona_container {
  display: block;
  padding: 40px 0px 10px 0px;
  height: 100%;
  width: 21.6875em; }

.name_list {
  margin: 0;
  padding: 0; }
  .name_list .list_box {
    display: block;
    width: 347px;
    margin: 10px 0 5px 0; }
    .name_list .list_box .text_box_2 {
      width: 347px;
      background-color: #2b1d25;
      height: 60px;
      margin-top: 4px; }
      .name_list .list_box .text_box_2 li {
        font-size: 17px;
        font-family: "Roboto", sans-serif;
        display: inline-block;
        position: relative;
        list-style-type: none;
        margin: 17px 0 17px 34px;
        color: #fcc92f; }

.toggle_box {
  display: block;
  width: 347px;
  margin: 5px 0 5px 0; }
  .toggle_box .text_box {
    width: 347px;
    background-color: #1c1216;
    height: 60px;
    margin-top: 4px; }
  .toggle_box .text_box_2 {
    width: 347px;
    background-color: #2b1d25;
    height: 60px;
    margin-top: 4px; }
  .toggle_box .text_box_3 {
    width: 347px;
    background-color: #2b1d25;
    height: 65px; }
  .toggle_box .texto-toggle {
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    position: relative;
    padding-left: 0px;
    margin-left: 0px;
    color: #fcc92f;
    right: 243px;
    bottom: 40px; }

.container_event {
  padding: 17px 0px 0px 0px; }

.container_event_main {
  padding: 25px 0px 0px 0px; }

.number_box_red {
  width: 90px;
  height: 90px;
  margin: 5px 10px 5px 12px;
  display: inline-block;
  border-radius: 50%;
  border: 6px solid #f71138; }

.number_box_yellow {
  width: 90px;
  height: 90px;
  margin: 5px 10px 5px 12px;
  display: inline-block;
  border-radius: 50%;
  border: 6px solid #fcc92f; }

.number_box_green {
  width: 90px;
  height: 90px;
  margin: 5px 10px 5px 12px;
  display: inline-block;
  border-radius: 50%;
  border: 6px solid #41ab4b; }

#numero {
  font-size: 24px;
  margin-top: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  color: white; }

.celda {
  width: 30px;
  padding: 0; }

.table {
  width: 235px;
  position: relative;
  margin-top: 2px;
  float: right; }

.table_text {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  letter-spacing: 0.2px;
  text-align: left;
  margin: 3px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 0;
  color: #fcc92f; }

.container .event_h2 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: left;
  margin-left: 26px;
  margin-right: 23px;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 0.2px;
  padding-bottom: 5px;
  color: #fcc92f;
  border-bottom: 1px solid; }
.container .event_title {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #565656;
  padding: 7px;
  bottom: 75px;
  position: relative;
  color: #fcc92f; }
.container .event_table {
  width: 214px;
  position: relative;
  padding-left: 22px;
  margin-bottom: 10px; }

.event_content {
  width: 21.6875em;
  height: 100%;
  margin: 5px 0px 20px 0px; }

.alerts {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.8px;
  text-align: left;
  padding-left: 25px;
  padding-right: 25px;
  color: #fcc92f; }

.indicators {
  display: block;
  height: 130px; }

.indicator {
  width: 95px;
  height: 110px;
  display: inline-block;
  position: relative;
  margin: 0px 2px 0px 2px;
  left: 21px;
  border-radius: 4px;
  border: 1px solid #fcc92f; }

.bar_uv_background {
  width: 57px;
  height: 3px;
  background-color: #6d5815;
  position: relative;
  display: inline-block;
  margin-top: 15px;
  left: 7px;
  bottom: 21px; }

.bar_background {
  width: 70px;
  height: 3px;
  background-color: #6d5815;
  position: relative;
  display: inline-block;
  margin-top: 15px;
  margin-left: 10px;
  bottom: 21px; }

.bar_uv {
  width: 40px;
  height: 3px;
  background-color: #ea711f;
  position: relative;
  display: inline-block;
  margin-top: 15px;
  left: 25px;
  bottom: 43px; }

.text_uv {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-align: left;
  display: inline-block;
  position: relative;
  bottom: 20px;
  left: 9px;
  color: #fcc92f; }

.bar_h {
  width: 10px;
  height: 3px;
  background-color: #fcc92f;
  position: relative;
  display: inline-block;
  margin-top: 15px;
  margin-left: 11px;
  bottom: 43px; }

.bar_t {
  width: 30px;
  height: 3px;
  background-color: #fcc92f;
  position: relative;
  display: inline-block;
  margin-top: 15px;
  margin-left: 11px;
  bottom: 43px; }

.text_indicator {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  letter-spacing: 0.8px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 16px;
  color: #fcc92f; }

.effects {
  display: block;
  height: 80px;
  background-color: #2b1d25;
  margin-bottom: 5px; }

.effect {
  width: 50px;
  height: 50px;
  float: right;
  display: inline-block;
  position: relative;
  margin: 14px 6px 13px 6px;
  right: 15px;
  border-radius: 50%;
  border: 2px solid #fcc92f; }

.container {
  width: 21.6875em;
  height: 100%;
  margin: 0 auto;
  background-color: #190d11;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.8);
  margin-top: 7px;
  border-radius: 4px;
  display: block; }
  .container h1 {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    padding: 20px 20px 30px 20px;
    position: relative;
    color: #fcc92f; }
  .container .title-icon {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    padding: 15px 55px 40px 55px;
    position: relative;
    color: #fcc92f; }
  .container h2 {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.2px;
    margin: 23px 0px 23px 0px;
    color: #fcc92f; }
  .container .texto_vivienda {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.2px;
    margin: 0px 0px 35px 0px;
    color: #fcc92f; }
  .container h3 {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #565656;
    padding: 15px;
    position: relative;
    color: #fcc92f; }
  .container a {
    text-decoration: none; }
  .container li {
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    position: relative;
    list-style-type: none;
    margin: 17px 0 17px 0;
    color: #fcc92f; }
  .container .form_content {
    display: none;
    background-color: #2b1d25; }

.container_2 {
  width: 21.6875em;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 5px;
  background-color: #190d11;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.8);
  margin-top: 5px;
  border-radius: 4px;
  display: block; }
  .container_2 h1 {
    margin: 0 auto;
    display: block;
    text-align: left;
    font-size: 27px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 28px 12px 0px 27px;
    position: relative;
    color: #fcc92f; }
  .container_2 p {
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: left;
    letter-spacing: 0.8px;
    margin-top: 8px;
    padding: 1px 34px 11px 26px;
    color: #fcc92f; }

hr {
  border: 1px solid #fcc92f;
  height: 4px;
  margin-top: 20px;
  text-align: center; }

hr:after {
  content: "Seguimiento de alertas";
  position: relative;
  top: -10px;
  padding: 0px 30px 0px 30px;
  color: #fcc92f;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #190d11;
  font-size: 22px; }

.container_void {
  width: 21.6875em;
  height: 100%;
  margin: 0 auto;
  display: block; }
  .container_void h1 {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 23px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 17px 60px 17px 60px;
    position: relative;
    color: #fcc92f;
    text-shadow: 0.2px 0.8px 1px rgba(0, 0, 0, 0.8); }

.container_search {
  width: 21.6875em;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 5px;
  background-color: #190d11;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.8);
  margin-top: 8px;
  border-radius: 4px;
  display: block; }

[class^="rpicon-"]:before, [class*=" rpicon-"]:before {
  position: relative;
  color: #fcc92f;
  font-size: 25px; }

[class^="rpicon-back"]:before, [class*=" rpicon-back"]:before {
  position: relative;
  color: #190d11;
  font-size: 26px;
  line-height: 1 !important; }

.rpicon-back {
  margin: 0;
  padding: 0; }

[class^="rpicon-home"]:before, [class*=" rpicon-home"]:before {
  position: relative;
  color: #fcc92f;
  font-size: 55px;
  line-height: 1 !important; }

.home-icon-container {
  display: block;
  text-align: center; }

[class^="rpicon-toggle"]:before, [class*=" rpicon-toggle"]:before {
  position: relative;
  color: #fcc92f;
  font-size: 25px;
  text-shadow: 0.6px 0.8px 1px #3e3e3e;
  line-height: 2.1 !important;
  text-align: center; }

[class^="rpicon-toggle-small"]:before, [class*=" rpicon-toggle-small"]:before {
  position: relative;
  color: #fcc92f;
  font-size: 11px;
  text-shadow: 0.6px 0.8px 1px #3e3e3e;
  text-align: center;
  line-height: 2.6 !important; }

[class^="rpicon-toggle-small-inverse"]:before, [class*=" rpicon-toggle-small-inverse"]:before {
  color: #fcc92f;
  font-size: 12px;
  line-height: 1.4 !important;
  text-shadow: 0.6px 0.8px 1px #3e3e3e;
  text-align: center;
  padding-left: 9px;
  top: 3px; }

.rpicon-toggle-small-inverse {
  width: 10px; }

[class^="rpicon-more"]:before, [class*=" rpicon-more"]:before {
  position: relative;
  color: #190d11;
  font-size: 15px;
  bottom: 1px;
  line-height: 2.3 !important; }

.rpicon-more {
  margin: 1px;
  text-align: center; }

[class^="rpicon-edit"]:before, [class*=" rpicon-edit"]:before {
  position: relative;
  color: #190d11;
  font-size: 17px;
  line-height: 1.7 !important;
  text-align: center;
  text-decoration: none; }
  [class^="rpicon-edit"]:before:active, [class*=" rpicon-edit"]:before:active {
    color: #fcc92f; }

.rpicon-edit {
  margin: 7px;
  text-align: center;
  text-decoration: none; }

.rpicon-search {
  margin-top: 20px;
  margin-left: 311px;
  position: absolute;
  text-decoration: none;
  z-index: 99; }

[class^="rpicon-search"]:before, [class*=" rpicon-search"]:before {
  font-size: 22px; }

.rpicon-user-good {
  margin-top: 14px;
  margin-left: 9px;
  position: absolute;
  text-decoration: none;
  z-index: 99; }

[class^="rpicon-user-good"]:before, [class*=" rpicon-user-good"]:before {
  font-size: 75px;
  color: #7a58dc; }

.rpicon-user-bad {
  margin-top: 14px;
  margin-left: 9px;
  position: absolute;
  text-decoration: none;
  z-index: 99; }

[class^="rpicon-user-bad"]:before, [class*=" rpicon-user-bad"]:before {
  font-size: 75px;
  color: #f71138; }

.rpicon-user-good-small {
  margin-top: 13px;
  margin-left: 7px;
  position: absolute;
  text-decoration: none;
  z-index: 99; }

[class^="rpicon-user-good-small"]:before, [class*=" rpicon-user-good-small"]:before {
  font-size: 45px; }

.rpicon-user-bad-small {
  margin-top: 13px;
  margin-left: 7px;
  position: absolute;
  text-decoration: none;
  z-index: 99; }

[class^="rpicon-user-bad-small"]:before, [class*=" rpicon-user-bad-small"]:before {
  font-size: 45px; }

.rpicon-uv {
  margin-top: 15px;
  margin-left: 20px;
  position: relative;
  z-index: 99; }

[class^="rpicon-uv"]:before, [class*=" rpicon-uv"]:before {
  position: relative;
  color: #fcc92f;
  font-size: 50px; }

.rpicon-humidity {
  margin-top: 15px;
  margin-left: 20px;
  position: relative;
  z-index: 99; }

[class^="rpicon-humidity"]:before, [class*=" rpicon-humidity"]:before {
  position: relative;
  color: #fcc92f;
  font-size: 50px; }

.rpicon-temperature {
  margin-top: 15px;
  margin-left: 20px;
  position: relative;
  z-index: 99; }

[class^="rpicon-temperature"]:before, [class*=" rpicon-temperature"]:before {
  position: relative;
  color: #fcc92f;
  font-size: 50px; }

.rpicon-tsunami {
  margin-top: 3px;
  margin-left: 1px;
  position: relative;
  z-index: 99; }

[class^="rpicon-tsunami"]:before, [class*=" rpicon-tsunami"]:before {
  position: relative;
  color: #fcc92f;
  font-size: 46px; }

.rpicon-rupture-home {
  margin-top: 3px;
  margin-left: 2px;
  position: relative;
  z-index: 99; }

[class^="rpicon-rupture-home"]:before, [class*=" rpicon-rupture-home"]:before {
  position: relative;
  color: #fcc92f;
  font-size: 40px; }

.rpicon-chronic-patient {
  margin-top: 5px;
  margin-left: 3px;
  position: absolute;
  text-decoration: none;
  z-index: 99; }

[class^="rpicon-chronic-patient"]:before, [class*=" rpicon-chronic-patient"]:before {
  font-size: 34px;
  color: #fcc92f; }

.rpicon-trapped {
  margin-top: 4px;
  margin-left: 2px;
  position: absolute;
  text-decoration: none;
  z-index: 99; }

[class^="rpicon-trapped"]:before, [class*=" rpicon-chronic-patient"]:before {
  font-size: 34px;
  color: #fcc92f; }

.rpicon-injured {
  margin-top: 4px;
  margin-left: 3px;
  position: absolute;
  text-decoration: none;
  z-index: 99; }

[class^="rpicon-injured"]:before, [class*=" rpicon-injured"]:before {
  font-size: 34px;
  color: #fcc92f; }

.rpicon-message {
  margin-top: 6px;
  margin-left: 6px;
  position: relative;
  text-decoration: none;
  z-index: 99; }

[class^="rpicon-message"]:before, [class*=" rpicon-message"]:before {
  color: #190d11;
  font-size: 35px;
  line-height: 1.2 !important; }

.rpicon-message-inv {
  margin-top: 10px;
  margin-left: 6px;
  text-decoration: none !important;
  position: relative;
  z-index: 99; }

[class^="rpicon-message-inv"]:before, [class*=" rpicon-message-inv"]:before {
  color: #fcc92f;
  font-size: 30px;
  line-height: 1.2 !important; }

[class^="rpicon-down"]:before, [class*=" rpicon-down"]:before {
  position: relative;
  color: #fcc92f;
  font-size: 17px;
  line-height: 1 !important; }

.rpicon-down {
  padding-top: 7px; }

.map {
  width: 21.6875em;
  margin: 0 auto;
  margin-top: 7px;
  border-radius: 4px;
  display: block; }

canvas.mapboxgl-canvas {
  border-radius: 4px; }

#texto_mapa {
  display: inline-block;
  position: relative;
  color: #fcc92f;
  margin-top: 20px; }

.map_people {
  height: 60px; }

#title_form {
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  padding: 20px 15px 15px 15px;
  position: relative;
  color: #fcc92f; }

#title_form_1 {
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  padding: 20px 15px 15px 15px;
  position: relative;
  color: #fcc92f; }

#name_list_1 {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  position: relative;
  list-style-type: none;
  padding-bottom: 19px;
  color: #fcc92f; }
  #name_list_1 .lista_form_1 {
    display: inline-block;
    width: 200px;
    padding-left: 30px; }

p {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  letter-spacing: 0.8px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  color: #fcc92f; }

.perfil_persona {
  padding-bottom: 15px; }
  .perfil_persona p {
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    letter-spacing: 0.3px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    color: #fcc92f; }

/*# sourceMappingURL=main.css.map */
