@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700';
* {
  box-sizing: border-box; }

.pagina {
  width: 360px;
  margin: 0 auto;
  background-color: #735968;
  display: block;
  padding-bottom: 8px; }

body {
  margin: 0 auto;
  background-color: #b5b5b5; }

.header {
  width: 360px;
  height: 60px;
  margin: 0 auto;
  display: block;
  background-color: #fcc92f; }
  .header .title_header {
    display: block;
    position: relative;
    margin: -20px 0px 0px 0px; }
    .header .title_header h1 {
      margin: 0 auto;
      text-align: center;
      font-size: 23px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      padding: 10px 20px 10px 20px;
      position: relative;
      color: #1c1216; }
  .header h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 23px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    padding: 15px 15px 10px 15px;
    position: relative;
    color: #1c1216; }
  .header a {
    text-decoration: none; }
  .header .logo img {
    display: inline-block;
    position: relative;
    width: 50%;
    margin: 10px 90px 10px 90px; }

.input_rut {
  text-align: center; }

.label_rut {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.2px;
  padding-bottom: 15px;
  color: #fcc92f; }

.login-rut {
  width: 330px;
  margin: 0 auto;
  padding: 20px 0 10px 0; }

.login-rut__box {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #fcc92f;
  line-height: 3;
  padding-left: 20px;
  color: #fcc92f;
  background-color: #1c1216;
  font-size: 14px; }

.input_search {
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #fcc92f;
  line-height: 3;
  padding-left: 20px;
  color: #fcc92f;
  background-color: #1c1216;
  font-size: 14px; }

.button {
  width: 347px;
  height: 55px;
  margin: 0 auto;
  background-color: #fcc92f;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.8);
  margin-bottom: 4px;
  border-radius: 4px;
  display: block; }
  .button a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-align: center;
    display: block;
    padding-top: 17px;
    margin: 7px;
    color: #1c1216; }

.back-button {
  display: inline-block;
  bottom: -20px;
  left: 20px;
  position: relative;
  width: 25px;
  height: 25px;
  z-index: 99; }

.container_button {
  height: 45px; }

.button_two {
  padding: 8px 10px 8px 10px;
  background-color: #fcc92f;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  float: right;
  margin-top: 8px;
  margin-right: 7px;
  margin-bottom: -42px; }
  .button_two a {
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 0 7px 0 7px;
    text-decoration: none;
    color: #1c1216; }

.button_small_two {
  width: 35px;
  height: 20px;
  background: #fcc92f;
  border-radius: 4px;
  float: right;
  display: inline-block;
  margin: 12px;
  margin-right: 11px; }

#button_small_two {
  display: inline-block;
  float: right; }

.button_edit {
  width: 30px;
  height: 30px;
  background: #fcc92f;
  border-radius: 50%;
  float: right;
  margin: 11px;
  margin-right: 11px;
  position: relative;
  z-index: 99; }

.button_more {
  width: 200px;
  margin: 0 auto;
  height: 30px; }
  .button_more a {
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    text-decoration: none;
    color: #1c1216; }

#text_button {
  display: inline-block;
  position: relative; }

.toggle_button_big {
  display: none; }
  .toggle_button_big + label {
    display: block;
    width: 280px;
    height: 50px;
    border-radius: 4px;
    background: #a00f27;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px; }
    .toggle_button_big + label:before {
      display: block;
      content: "";
      width: 130px;
      height: 50px;
      border-radius: 4px;
      background: #f71138;
      position: relative;
      transition: all 0.3s;
      left: 0; }
  .toggle_button_big:checked + label {
    background: #7a58dc; }
    .toggle_button_big:checked + label:before {
      left: 150px; }

.toggle_button_big {
  display: none;
  font-size: 25px; }
  .toggle_button_big + label {
    display: block;
    width: 280px;
    height: 50px;
    border-radius: 4px;
    background: #4b3884;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px; }
    .toggle_button_big + label:before {
      display: block;
      content: "a";
      width: 130px;
      height: 50px;
      border-radius: 4px;
      background: #7a58dc;
      position: relative;
      transition: all 0.3s;
      left: 150px; }
  .toggle_button_big:checked + label {
    background: #a00f27; }
    .toggle_button_big:checked + label:before {
      background: #f71138;
      left: 0;
      content: "b"; }

.toggle_button_small {
  display: none; }
  .toggle_button_small + label {
    display: block;
    width: 55px;
    height: 21px;
    border-radius: 4px;
    background: #a00f27;
    margin-right: 0;
    left: 295px;
    margin-top: 25px;
    margin-left: 277px; }
    .toggle_button_small + label:before {
      display: block;
      content: "b";
      width: 30px;
      height: 21px;
      border-radius: 3px;
      background: #f71138;
      position: relative;
      transition: all 0.3s;
      left: 25px; }
  .toggle_button_small:checked + label {
    background: #4b3884; }
    .toggle_button_small:checked + label:before {
      background: #7a58dc;
      left: 0;
      content: "a"; }

.toggle_box {
  display: block;
  width: 347px;
  padding-bottom: 20px; }
  .toggle_box .texto-toggle {
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    position: relative;
    padding-left: 0px;
    margin-left: 0px;
    color: #fcc92f;
    right: 243px;
    bottom: 30px; }

.texto-checkbox {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  position: relative;
  padding-left: 0px;
  margin-left: 0px;
  color: #fcc92f;
  right: 285px;
  bottom: 30px; }

.checkbox_button_small {
  display: none; }
  .checkbox_button_small + label {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 21px;
    border-radius: 4px;
    background: #f71138;
    left: 10px;
    margin-right: 0px;
    margin-left: 300px; }
    .checkbox_button_small + label:before {
      display: inline-block;
      content: ""; }
  .checkbox_button_small:checked + label {
    background: #7a58dc;
    transition: all 0.3s; }
    .checkbox_button_small:checked + label:before {
      left: 0;
      content: "a"; }

#reports_list {
  padding-left: 5px; }

.user_avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #5b5b5b;
  position: relative;
  z-index: 99;
  float: left; }

.username #name {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  letter-spacing: 0.2px;
  margin-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  text-align: left;
  display: inline-block;
  color: #fcc92f; }

.comment_date {
  font-size: 10px;
  display: inline-block;
  font-weight: 300;
  float: right;
  margin-right: 10px;
  margin-top: 12px;
  color: #fcc92f; }

.comment_box {
  width: 275px;
  margin-right: 10px;
  border: 1px solid;
  border-radius: 4px;
  position: relative;
  float: right; }

.comment_content {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px; }

.container_report {
  padding-top: 10px; }
  .container_report li {
    margin-bottom: 15px;
    display: block;
    position: relative;
    color: #fcc92f; }
  .container_report li:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    width: 0;
    color: #fcc92f; }

.usuario_personal {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #735968;
  margin: 0 auto;
  margin-bottom: 15px; }

#nombre_personal {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  letter-spacing: 0.3px;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
  color: #fcc92f; }

#user_list {
  margin-top: 0px;
  margin-right: 0.4px;
  margin-bottom: -20px; }

.user_box {
  width: 346px;
  background-color: #2b1d25;
  position: relative;
  float: right;
  margin-bottom: 5px; }

.user_avatar_2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #735968;
  position: relative;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 10px;
  z-index: 99;
  float: left; }

.username #user_name {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  letter-spacing: 0.2px;
  margin: 10px 0px 5px 0px;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 140px;
  text-align: left;
  display: inline-block;
  color: #fcc92f; }
.username #rut {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  letter-spacing: 0.2px;
  margin: 5px 0px 5px 0px;
  padding-bottom: 0;
  text-align: left;
  display: inline-block;
  color: #fcc92f; }

.container_list {
  padding-top: 5px; }
  .container_list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
    color: #fcc92f; }
  .container_list li:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    width: 0;
    color: #fcc92f; }

.number_box {
  width: 90px;
  height: 90px;
  margin: 0 20px 20px 20px;
  display: inline-block;
  border-radius: 50%;
  border: 6px solid #f71138; }

#numero {
  font-size: 24px;
  text-align: center;
  color: white; }

.celda {
  width: 30px;
  padding: 0; }

.table {
  width: 214px;
  position: relative;
  float: right; }

.table_text {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  letter-spacing: 0.2px;
  text-align: left;
  margin: 3px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 0;
  color: #fcc92f; }

.container {
  width: 347px;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 5px;
  background-color: #190d11;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.8);
  margin-top: 7px;
  border-radius: 4px;
  display: block; }
  .container h1 {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    padding: 15px 60px 40px 60px;
    position: relative;
    color: #fcc92f; }
  .container h2 {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.2px;
    padding-bottom: 15px;
    color: #fcc92f; }
  .container h3 {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #565656;
    padding: 15px;
    position: relative;
    color: #fcc92f; }
  .container li {
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    position: relative;
    list-style-type: none;
    margin-bottom: 19px;
    color: #fcc92f; }
  .container .form_content {
    display: none;
    background-color: #2b1d25;
    padding-bottom: 10px; }
  .container .lista_form {
    display: inline-block;
    width: 200px;
    padding-left: 30px; }
  .container .names_box {
    position: relative;
    display: block; }

[class^="rpicon-"]:before, [class*=" rpicon-"]:before {
  position: relative;
  color: #fcc92f;
  font-size: 25px; }

[class^="rpicon-back"]:before, [class*=" rpicon-back"]:before {
  position: relative;
  color: #190d11;
  font-size: 20px;
  line-height: 1.2 !important; }

[class^="rpicon-home"]:before, [class*=" rpicon-home"]:before {
  position: relative;
  color: #fcc92f;
  font-size: 50px;
  line-height: 1.2 !important; }

.home-icon-container {
  display: block;
  text-align: center; }

[class^="rpicon-toggle"]:before, [class*=" rpicon-toggle"]:before {
  position: relative;
  color: #fcc92f;
  font-size: 25px;
  line-height: 2.1 !important;
  text-align: center; }

[class^="rpicon-toggle-small"]:before, [class*=" rpicon-toggle-small"]:before {
  position: relative;
  color: #fcc92f;
  font-size: 10px;
  text-align: center; }

[class^="rpicon-toggle-small-inverse"]:before, [class*=" rpicon-toggle-small-inverse"]:before {
  color: #fcc92f;
  font-size: 11px;
  line-height: 1.5 !important;
  text-align: center;
  padding-left: 8px; }

.rpicon-toggle-small-inverse {
  width: 10px; }

[class^="rpicon-more"]:before, [class*=" rpicon-more"]:before {
  position: relative;
  color: #190d11;
  font-size: 10px;
  line-height: 2.3 !important; }

.rpicon-more {
  margin: -1px;
  text-align: center; }

[class^="rpicon-edit"]:before, [class*=" rpicon-edit"]:before {
  position: relative;
  color: #190d11;
  font-size: 15px;
  line-height: 1.7 !important;
  text-align: center;
  text-decoration: none; }

.rpicon-edit {
  margin: 2px;
  text-align: center; }

.rpicon-search {
  margin-top: 14px;
  margin-left: 311px;
  position: absolute;
  text-decoration: none;
  z-index: 99; }

[class^="rpicon-search"]:before, [class*=" rpicon-search"]:before {
  font-size: 22px; }

.rpicon-user-good {
  margin-top: 14px;
  margin-left: 9px;
  position: absolute;
  text-decoration: none;
  z-index: 99; }

[class^="rpicon-user-good"]:before, [class*=" rpicon-user-good"]:before {
  font-size: 75px; }

.rpicon-user-bad {
  margin-top: 14px;
  margin-left: 9px;
  position: absolute;
  text-decoration: none;
  z-index: 99; }

[class^="rpicon-user-bad"]:before, [class*=" rpicon-user-bad"]:before {
  font-size: 75px; }

.rpicon-user-good-small {
  margin-top: 12px;
  margin-left: 6px;
  position: absolute;
  text-decoration: none;
  z-index: 99; }

[class^="rpicon-user-good-small"]:before, [class*=" rpicon-user-good-small"]:before {
  font-size: 50px; }

.rpicon-user-bad-small {
  margin-top: 12px;
  margin-left: 6px;
  position: absolute;
  text-decoration: none;
  z-index: 99; }

[class^="rpicon-user-bad-small"]:before, [class*=" rpicon-user-bad-small"]:before {
  font-size: 50px; }

#title_form {
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  padding: 20px 15px 15px 15px;
  position: relative;
  color: #fcc92f; }

#title_form_1 {
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  padding: 20px 15px 15px 15px;
  position: relative;
  color: #fcc92f; }

.map {
  width: 347px;
  margin: 0 auto;
  margin-top: 7px;
  border-radius: 4px;
  display: block; }
  .map .map_content {
    width: 347px;
    display: inline-block;
    height: 250px;
    border-radius: 4px; }

#texto_mapa {
  display: inline-block;
  position: relative;
  color: #fcc92f;
  margin-top: 15px; }

.map_people {
  height: 45px; }

#name_list_1 {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  position: relative;
  list-style-type: none;
  padding-bottom: 19px;
  color: #fcc92f; }
  #name_list_1 .lista_form_1 {
    display: inline-block;
    width: 200px;
    padding-left: 30px; }

p {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  letter-spacing: 0, 7px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  color: #fcc92f; }

.perfil_cpersona {
  padding-bottom: 15px; }
  .perfil_cpersona p {
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    letter-spacing: 0.3px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    color: #fcc92f; }

/*# sourceMappingURL=main.css.map */
